<h4><mark>{{collegename}}</mark> was established in 1980-81, as KL College of Engineering,
     which was upgraded to KL College of Engineering Autonomous in 2006 by UGC, and was declared
     <mark>{{collegename}}</mark> was established in 1980-81, as KL College of Engineering, which was upgraded to KL College of Engineering Autonomous in 2006 by UGC, and was declared
     <mark>{{collegename}}</mark> was established in 1980-81, as KL College of Engineering, which was upgraded to KL College of Engineering Autonomous in 2006 by UGC, and was declared
     <mark>{{collegename}}</mark> was established in 1980-81, as KL College of Engineering, which was upgraded to KL College of Engineering Autonomous in 2006 by UGC, and was declared
     <mark>{{collegename}}</mark> was established in 1980-81, as KL College of Engineering, which was upgraded to KL College of Engineering Autonomous in 2006 by UGC, and was declared
     <mark>{{collegename}}</mark>was established in 1980-81, as KL College of Engineering, which was upgraded to KL College of Engineering Autonomous in 2006 by UGC, and was declared
     <mark>{{collegename}}</mark> was established in 1980-81, as KL College of Engineering, which was upgraded to KL College of Engineering Autonomous in 2006 by UGC, and was declared
     <mark>{{collegename}}</mark> was established in 1980-81, as KL College of Engineering, which was upgraded to KL College of Engineering Autonomous in 2006 by UGC, and was declared
     <mark>{{collegename}}</mark> was established in 1980-81, as KL College of Engineering, which was upgraded to KL College of Engineering Autonomous in 2006 by UGC, and was declared
     <mark>{{collegename}}</mark> was established in 1980-81, as KL College of Engineering, which was upgraded to KL College of Engineering Autonomous in 2006 by UGC, and was declared
     <mark>{{collegename}}</mark> was established in 1980-81, as KL College of Engineering, which was upgraded to KL College of Engineering Autonomous in 2006 by UGC, and was declared

    </h4>
